# Dependencies
node_modules/

# Environment variables
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# Build output
dist/
build/
coverage/

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/

# Temporary files
*.tmp
*.temp